.background-playground-stage {
	width: 80vw;
	height: 40vh;
	margin: 0 auto;
	margin-top: 2em;
	background-color: white;
	box-shadow: 2px 3px 36px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	position: relative;
	color: white;
}

.panel {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.foreground {
	z-index: 3;
	padding-top: 1.5em;
	font-size: 200%;
	text-shadow: #000 1px 0 10px;
}

.gradient-stage {
	background-color: rgba(red, .2);
	z-index: 2;
}

.background-image-stage {
	z-index: 1;
}

.edit-panel {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.edit-section {
	margin: 0 .25em .25em 0;
	background: #eaeaea;
	padding: 1em 1.5em;
	text-align: center;

	h4 {
		margin-bottom: .5em;
	}

	input {
		display: block;
		margin: 0 auto 1em auto;
	}
}

.edit-message {
	width: 10em;

	input {
		width: 100%;
	}
}