.background-playground-stage {
	width: 80vw;
	height: 40vh;
	margin: 0 auto;
	margin-top: 2em;
	background-color: white;
	box-shadow: 2px 3px 36px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	position: relative;
	color: white;
}

.panel {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.foreground {
	z-index: 3;
	padding-top: 3em;
	font-size: 250%;
	text-shadow: #000 1px 0 10px;
}

.gradient-stage {
	background-color: rgba(red, .2);
	z-index: 2;
}

.background-image-stage {
	background-color: black;
	z-index: 1;
	background: url("https://images.unsplash.com/photo-1513829596324-4bb2800c5efb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") no-repeat;
	background-size: cover;
}

.edit-panel {
	display: flex;
	justify-content: center;
}

.edit-section {
	margin-right: 2em;

	input {
		display: block;
		margin-bottom: 1em;
	}
}