.color-gallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  padding: .5em 1em;
  border: 2px solid white;
  transition: all .2s;
  position: relative;

  .color-name {
  	padding: .25em;
  	transition: .2s all;
  }

  &:hover {
  	.color-name {
  		background-color: white;
  	}
  }
}

.color-options {
	padding-top: .5em;
}

.active-color-indicator {
	display: inline-block;
	position: absolute;
	top: 0;
	padding: .25em;
	background: orange;
	color: #333;
	text-align: center;
	font-size: 70%;

	&.one {
		left: 0;
	}

	&.two {
		right: 0;
	}
}